<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Phase 3 Mini-Project</a>
  <a class="nav-link active" aria-current="page" href="#">Active</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link" href="#">Link</a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search for destination" aria-label="Search">
      <%= link_to, <button class="btn btn-outline-success" type="submit">Search,search_path </button>%>
    </form>

  </div>
  
</nav>